#https://github.com/icub3d/godoc-systemd
#sudo cp godoc.service /etc/systemd/system
#sudo systemctl enable godoc.service
[Unit]
Description=Go Documentation
#Wants=network.target
[Service]
#Environment=GOPATH=/home/kayw/share/codebase/vm/go/gows GOROOT=/home/kayw/share/codebase/vm/go
Environment=GOPATH=/home/kayw/share/codebase/vm/go/gows
ExecStart=/home/kayw/share/codebase/vm/go/bin/godoc -http=:6060 -play=true 
#-index=true 
#RestartSec=30
#Restart=always
#[Timer]
#OnStartupSec=25
#https://bbs.archlinux.org/viewtopic.php?id=142536
[Install]
WantedBy=default.target
