registry=https://registry.npm.taobao.org/
//registry=http://registry.npmjs.org/
cache=/home/kayw/fshare/.npm
disturl=https://npm.taobao.org/dist
//registry.npmjs.org/:_authToken=1471e5c2-f6d2-42c5-97bf-d53e86903c09
init-author-name=kayw
