registry=https://registry.npm.taobao.org/
//registry=http://registry.npmjs.org/
cache=/home/kayw/fshare/.npm
npm_config_nodedir=/home/kayw/fshare/.npm
#https://github.com/nodejs/node-gyp/issues/21
#http://fduo.org/pip-gem-npm-chinese-mirror/
