[Unit]
Description=Shadowsocks service
After=network.target

[Service]
Type=simple
User=nobody
ExecStart=/usr/local/shadowsocks/server -c /etc/shadowsocksr/conf.json -d start
ExecReload=/bin/kill -HUP $MAINPID
ExecStop=/bin/kill -s QUIT $MAINPID 
PrivateTmp=true
KillMode=process
Restart=on-failure
RestartSec=5s

[Install]
WantedBy=multi-user.target
